/* section review start */

section{
    margin-top: 18rem;
    /* margin-left: 2rem;
    margin-right: 2rem; */
    padding: 1rem;
}

.dropdown{
    position: relative;
    padding: 2rem;
}

.dropdown::before{
    content: "";
    position: absolute;
    right: 20px;
    top: 15px;
    z-index: 10000;
    width: 8px;
    height: 8px;
    border: 2px solid #333;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    transform: rotate(-45deg);
    transition: 0.5s;
    pointer-events: none;
}

.dropdown.active::before{
    top: 25px;
    transform: rotate(-225deg);

}

.dropdown input{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    background-color: red;
    border: none;
    outline: none;
    box-shadow: 0 5px 20px rgba(red, green, blue);
    padding: 12px 20px;
    border-radius: 10px ;
}

.dropdown .option {
    position: absolute;
    top: 70px;
    width: 100%;
    background: #fff;
    box-shadow: 0 33px 30px rgba(red, green, blue, alpha);
    border-radius: 10px;
    overflow: hidden;
    display: none;
}

.dropdown.active .option{
    display: block;
}

.dropdown .option div {
    padding: 12px 20px;
    cursor: pointer;
    font-size: 14px;
}

.dropdown .option div:hover{
    background: #b38026;
    color: #fff;
}


#review{
    background: black;
    border:solid 5px #b38026;
    border-radius: 5rem;
    width: 90%;
    padding-bottom: 5rem;
    margin-left: auto;
    margin-right: auto;
    /* box-shadow: var(--box-shadow); */
}

.review-heading h3{
    text-align: center;
    color: white;
    font-size: 2rem;
    margin-top: 2.5rem ;
    font-weight: bold;
}

.review-heading h1{
    text-align: center;
    color: white;
    font-size: 3rem;
    padding-bottom: 2rem ;
    font-weight: bold;
    text-transform: uppercase;
}

.review form{
    width: 60%;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    border: .1rem solid rgba(0, 0,0,.2);
    background: #fff;
    padding: 1.5rem;
    margin: 0 auto;
    margin-bottom: 3.5rem;
}

.review form .input{
    /* display: flex;
    flex-wrap: wrap; */
    width: 100%;
}

.review form .input span{
    display: block;
    padding: .5rem 0;
    font-size: 1.5rem;
    color: var(--light-color);
}

.review form .input input,
.review form .input textarea{
    background: #eee;
    border-radius: .5rem;
    padding: 1rem;
    font-size: 1.6rem;
    color: var(--black);
    text-transform: none;
    margin-bottom: 1rem;
    width: 100%;
}

.review form .input input:focus,
.review form .input textarea:focus{
    border: .2rem solid #b38026;
}

.review button{
    padding: 5px;
    border-radius: 5px;
    background: #b38026;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 2rem;
    color: white;
    font-weight: bold;
}

/* section review end */